.center {
  text-align: center;
}

.numbered {
  list-style-position: inside;
  list-style-type: decimal;
}



@media (min-width: $screen-md-min) {
  .content {
    margin: auto;
    max-width: 1000px;
  }
}

@media(min-width: $screen-md-min) {
  .bar {
    // TODO use the color variable for this
    border-left: #b2b2b2 1px solid;
    border-right: #b2b2b2 1px solid;
    margin: auto;
    max-width: 1000px;
  }

  .modal {
    left: 24%;
    left: calc(50% - 500px);
    max-width: 1000px;
    right: 24%;
    right: calc(50% - 500px);
    width: auto;
    
    .bar {
      border-left: 0;
      border-right: 0;
    }

    
  }

  .popover {
    left: initial !important;
    right: 24%;
    right: calc(50% - 500px);
  }
}
