<template name="_fontMatcher">
{{!
  Here we will generate a random set of fonts that users can upvote, downvote, or add to their collection of font combitions if they are logged in.

  When they vote, they will be given another two combinations of fonts.
}}

<div class="list card">
  <div class="item item-divider center">
    <h1>{{fontNameHeading}} + {{fontNameBody}}</h1>
  </div>

  <div class="item item-body" id="fontcard">
    <h1 class="font-heading" style="{{fontHeading}}" contenteditable spellcheck="false">
      Grumpy wizards make toxic brew for the evil Queen and Jack.
    </h1>

    <p class="font-body" style="{{fontBody}}" contenteditable spellcheck="false">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu urna eu turpis cursus egestas. Nunc ut velit vel justo imperdiet accumsan eget nec nunc. Aenean ut dapibus arcu, eget auctor purus. In ac ipsum at sapien dictum dignissim et eu est. Praesent a finibus nulla. Fusce convallis sed magna ut tristique. Donec ornare, odio quis iaculis consequat, enim urna suscipit sem, et cursus diam odio nec libero. Pellentesque rutrum enim eget maximus maximus. Integer sodales velit sed placerat tempor. Aenean consectetur condimentum risus ac tempus. Etiam semper orci eget ultricies fringilla. Nam at velit a eros ultricies blandit sed eu felis. In accumsan ligula diam, ac lacinia nisi tincidunt ac. Nulla ullamcorper urna quam, vitae dapibus libero tempus vitae. Praesent at fermentum nisl. Phasellus feugiat interdum dictum.
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left" id="actions">
    {{! Upvote: }}
    <a class="tab-item {{#if hasUpvoted }}assertive{{/if}}" href="#" data-action="upvote">
      <i class="icon ion-arrow-up-a"></i> Cool
    </a>
    {{! Downvote: }}
    <a class="tab-item {{#if hasDownvoted }}assertive{{/if}}" href="#" data-action="downvote">
      <i class="icon ion-arrow-down-a"></i> Nah
    </a>
    {{! Favorite: }}
    {{#if currentUser}}
      <a class="tab-item {{#if hasFavorited }}assertive{{/if}}" href="#" data-action="favorite">
        {{#if hasFavorited}}
          <i class="icon ion-android-star"></i>
        {{else}}
          <i class="icon ion-android-star-outline"></i>
        {{/if}}
        Favorite

      </a>
    {{/if}}
    {{! Details: }}
    <a class="tab-item" href="#" data-action="details" data-ion-modal="_fontDetails">
      <i class="icon ion-information-circled"></i> Details
    </a>
    {{! New: }}
    <a class="tab-item" href="#" data-action="new-font-set">
      <i class="icon ion-refresh"></i> New Pair
    </a>
  </div>
</div>
</template>