<template name="_fontMatcher">
{{!
  Here we will generate a random set of fonts that users can upvote, downvote, or add to their collection of font combitions if they are logged in.

  When they vote, they will be given another two combinations of fonts.
}}

<div class="list card">
  <div class="item tabs tabs-secondary tabs-icon-left" id="actions">
    {{!
      ===
      New
      ===
    }}
    <a class="tab-item" href="#" data-action="new-font-set">
      <i class="icon ion-refresh"></i> New Pair
    </a>
    {{!
      ======
      Upvote
      ======
    }}
    <a class="tab-item {{#if hasUpvoted }}assertive{{/if}}" href="#" data-action="upvote">
      <i class="icon ion-arrow-up-a"></i> Cool
    </a>
    {{!
      ========
      Downvote
      ========
    }}
    <a class="tab-item {{#if hasDownvoted }}assertive{{/if}}" href="#" data-action="downvote">
      <i class="icon ion-arrow-down-a"></i> Nah
    </a>
    {{!
      ========
      Favorite
      ========
    }}
    {{#if currentUser}}
      <a class="tab-item {{#if hasFavorited }}assertive{{/if}}" href="#" data-action="favorite">
        {{#if hasFavorited}}
          <i class="icon ion-android-star"></i>
        {{else}}
          <i class="icon ion-android-star-outline"></i>
        {{/if}}
        Favorite
      </a>
    {{/if}}
    {{!
      =======
      Details 
      =======
    }}
    <a class="tab-item" href="#" data-action="details" data-ion-modal="_fontDetails">
      <i class="icon ion-information-circled"></i> Details
    </a>
  </div>

  <div class="item item-body" id="fontcard">
    <h1 class="font-heading" style="{{fontHeading}}">
      {{!
        ============
        Lock Heading
        ============
      }}
      {{#if lockedHeading}}
        <span data-action="unlock-heading">
          {{#if isAndroid}}
            {{> ionIcon icon='android-locked'}}
          {{else}}
            {{> ionIcon icon='ios-locked'}}
          {{/if}}
        </span>
      {{else}}
        <span data-action="lock-heading">
          {{#if isAndroid}}
            {{> ionIcon icon='android-unlocked-outline'}}
          {{else}}
            {{> ionIcon icon='ios-unlocked-outline'}}
          {{/if}}
        </span>
      {{/if}}

      <span contenteditable spellcheck="false">
        Grumpy wizards make toxic brew for the evil Queen and Jack
      </span>
    </h1>

    <p class="font-body" style="{{fontBody}}">
      {{!
        ============
        Lock Body
        ============
      }}
      {{#if lockedBody}}
        <span data-action="unlock-body">
          {{#if isAndroid}}
            {{> ionIcon icon='android-locked'}}
          {{else}}
            {{> ionIcon icon='ios-locked'}}
          {{/if}}
        </span>
      {{else}}
        <span data-action="lock-body">
          {{#if isAndroid}}
            {{> ionIcon icon='android-unlocked-outline'}}
          {{else}}
            {{> ionIcon icon='ios-unlocked-outline'}}
          {{/if}}
        </span>
      {{/if}}
      <span contenteditable spellcheck="false">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu urna eu turpis cursus egestas. Nunc ut velit vel justo imperdiet accumsan eget nec nunc. Aenean ut dapibus arcu, eget auctor purus. In ac ipsum at sapien dictum dignissim et eu est. Praesent a finibus nulla. Fusce convallis sed magna ut tristique.
      </span>
    </p>
  </div>
  {{#if isShortWindow}}
    {{! nothing}}
  {{else}}
    <div class="item item-divider center">
      <h2>{{fontNameHeading}} + {{fontNameBody}}</h2>
    </div>
  {{/if}}
</div>
</template>