<template name="_signIn">
  {{#ionModal title="Sign In"}}
    <div class="padding text-center sign-in-modal">
      <p>
        <strong>When you sign in, you can:</strong>
        <ol class="numbered">
          <li>Favorite font combinations</li>
          <li>See your previously favorited fonts</li>
          <li>Save your votes!</li>
        </ol>
      </p>
      <p>
        <button data-action="sign-in" class="button button-positive sign-in-button">
          Sign In with Github
        </button>
      </p>
    </div>
  {{/ionModal}}
</template>