<template name="home">
  {{#ionView}}
    {{#ionContent class="padding"}}
      <div class="hero">
        <div class="hero-image"></div>
        <h1 class="title">
          <span class="fm-first">Font</span>
          &nbsp;
          <span class="fm-last">Matcher</span>
        </h1>
        <p class="detail">Find new font combinations!</p>
      </div>

      <div class="list card max-width-xs">
        {{#ionItem path="fontCombo" iconLeft=true iconRight=true}}
          {{> ionIcon icon="ios-albums" class="positive"}}
          Random Pair
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

        {{#ionItem path="topRated" iconLeft=true iconRight=true}}
          {{#if isAndroid}}
            {{> ionIcon icon='android-star' class="positive"}}
          {{else}}
            {{> ionIcon icon='ios-star' class="positive"}}
          {{/if}}
          Top Rated
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

        {{#if currentUser}}
          <a class="item item-icon-left assertive" href="#" data-ion-modal="_favorites">
            {{> ionIcon icon='android-star'}}
            Your Favorites
          </a>
        {{else}}
          <a class="item item-icon-left assertive" href="#" data-ion-modal="_signIn">
            {{> ionIcon icon="ios-person-outline"}}
            Sign In
          </a>
        {{/if}}

        <a href="#" class="item item-icon-left" data-ion-modal="_about">
          {{> ionIcon icon='information-circled'}}
          About 
        </a>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>